.soundboard_title .bk.bk-clearfix {
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.section_header_button button.bk.bk-btn.bk-btn-default {
    background-color: rebeccapurple;
    color: white;
    font-size: 30px;

}

.credits .bk.bk-clearfix {
    color: black;
    font-size: 25px;
}
