.custom_button_bokeh button.bk.bk-btn.bk-btn-default {
    background-image: url('ton_soundboard/static/images/Kirin-Bio.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: aqua;
    font-weight: bold;
    //font-size: 1rem;
    color: black;
}
